.section-agendar-cita {
  // background: linear-gradient(to right, #f8f9fa, #e9ecef);
  // padding: 30px;
  // border-radius: 10px;
  // margin: 20px 0;
  // text-align: center;
  // font-family: Arial, sans-serif;
  &__title {
    font-size: 52.2813px;
    @media (max-width: 767px) {
      font-size: 38px;
    }
  }

  // &__btn {
  //   display: inline-block;
  //   background-color: #25d366;
  //   color: white;
  //   padding: 12px 25px;
  //   border-radius: 5px;
  //   text-decoration: none;
  //   font-weight: bold;
  //   font-size: 16px;
  //   margin: 5px;
  //   transition: all 0.3s ease;
  //   border: none;
  //   cursor: pointer;
  // }
}

.page-questions {
  &__accordion-button {
    font-size: 21px;
    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
  &__accordion-button {
    padding-block: 10.5px;
    &::after {
      display: none;
    }
  }
}
