.header {
  // height: 172px;
  height: 140px;
  transition: all .5s;
}

.site-header {
  background: $primary;
  height: $wp-header-height;

  .navbar {
    // Sobreescribe navbar de Bootstrap
    padding: 0;
  }

  .custom-logo {
    height: 50px;
    width: auto;
  }
}

// Header de la página
.top-header {
  height: 36px;
  // &__social {
  //   display: flex;
  //   align-items: center;
  // }
  &__social-title {
    font-size: 16px;
  }
  // &__social-list {
  //   display: flex;
  // }
  // &__social-link {
  //   font-size: 24px;
  // }
}

// 
.app{
  @extend .acumin-variable-concept;
  font-size: 18px;
}