.header {
  // height: 172px;
  height: 140px;
  transition: all 0.5s;
  &__logo {
    // 992 and 1199
    @media (max-width: 1199px) {
      width: 170px;
    }
    @media (max-width: 767px) {
      width: 160px;
    }
  }
  // 992 and 1199
  @media (max-width: 1199px) {
    height: 108px;
  }
  @media (max-width: 767px) {
    height: auto;
  }
}

.site-header {
  background: $primary;
  height: $wp-header-height;

  .navbar {
    // Sobreescribe navbar de Bootstrap
    padding: 0;
  }

  .custom-logo {
    height: 50px;
    width: auto;
  }
}

// Header de la página
.top-header {
  height: 36px;
  // &__social {
  //   display: flex;
  //   align-items: center;
  // }
  &__social-title {
    font-size: 16px;
  }
  // &__social-list {
  //   display: flex;
  // }
  // &__social-link {
  //   font-size: 24px;
  // }
}

//
.app {
  @extend .acumin-variable-concept;
  font-size: 18px;
}
