.page-slug-testimonios-de-nuestros-pacientes {
  .page-main {
    // &__content {
    // }
    &__h1 {
      font-size: 57.99px;
      line-height: 1;
      font-family: "AcuminVariableConceptSemiBold", sans-serif;
      font-weight: 600;
      font-style: normal;
      max-width: 520.8867px;
      margin: auto;
      margin-bottom: 0;
      @media (max-width: 767px) {
        font-size: 38px;
        // font-size: 40px;
      }
    }
    .video-wrapper {
      max-height: 420px;
      margin-bottom: 1rem;

      iframe,
      .video-thumbnail-img {
        max-width: 100%;
        height: 420px;
        object-fit: cover;
      }

      .video-icon-play {
        max-width: 100%;
      }
    }
  }
}
